.background {
    width: 100%;
    margin: 0;
    padding: 0;
}

.background-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: "FG Demi",Helvetica,Arial,sans-serif;
    font-size: 3.25em;
    font-weight: bolder;
    line-height: 1.25;
}

.img-wrapper {
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
}

.bgt-top {
    transform: translate(-50%, -200%);
}

.bgt-mid {
    transform: translate(-50%, -50%);
}

.bgt-bot {
    transform: translate(-50%, 100%);
}