.nav-wrapper {
    float: left;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #ffffff;
    display: block;
    list-style-type: none;
    overflow: hidden;
    padding-inline-start: 40px;
    padding: 0;
    margin: 0;
}

li {
    float: right;
    display: list-item;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none!important;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:-webkit-any-link {
    color: blue;
    text-decoration: none;
}