:root {
    /** Colors **/
    --backgroundColor: #707070;
    --linkBaseColor: #143774;
    --linkActiveColor: #345d9b;
}

header {
    text-align: center;
    margin: 0 auto;
    padding: 2rem 0;
    background: #f8f8f8;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

nav li {
    margin: 0 .5em;
}

.container {
    width: 90%;
    max-width: 2500px;
}

.container-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-img {
    width: 40%;
}

.link {
    text-decoration: none;
    color: var(--linkBaseColor);
    font-weight: 700;
    font-family: Andale Mono, monospace;
}

.link:hover {
    color: var(--linkActiveColor);
}

.active {
    color: var(--linkActiveColor);
    border-bottom: 1px solid var(--linkActiveColor);
}