.account-tabs {
    margin: 0;
}

.user-profile-content {
    padding: 2rem 0px;
    text-align: center;
    background-color: white;
}

.user-profile-content h1, h2 {
    font-family: Ubuntu, sans-serif;
}

.user-profile-content p {
    font-family: Lora, serif;
    font-size: 1.5rem;
}