.bar {
    min-width: 100%;
    background-color: white;
    text-align: left;
}
.background {
    width: 100%;
    margin: 0;
    padding: 0;
}

.background-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: "FG Demi",Helvetica,Arial,sans-serif;
    font-size: 3.25em;
    font-weight: bolder;
    line-height: 1.25;
}

.img-wrapper {
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
}

.bgt-top {
    transform: translate(-50%, -200%);
}

.bgt-mid {
    transform: translate(-50%, -50%);
}

.bgt-bot {
    transform: translate(-50%, 100%);
}

@media only screen and (max-width: 390px) /** iPhone 12 Pro **/
{
    .background {
        width: 390px;
    }

    .background-text {
        display: none;
    }
}
.geotag {
    background: #333;
    width: 100%;
    color: white;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/** Media Query Sizes **/
/** Do not use var for media queries **/
/** 1130px **/
/** 690px **/

:root {
    /** Colors **/
    --linkBaseColor: #707070;
    --linkActiveColor: #345d9b;
}

header {
    margin: 0 auto;
    padding: 0;
    background: #f8f8f8;
    font-size: 2rem;
}

.list-links {
    list-style: none;
    display: flex;
    justify-content: right;
}

.container {
    width: 90%;
    max-width: 2500px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-list {
    width: 60%;
}

.container-header-logo {
    display: flex;
    width: 40%;
}

.header-logo {
    max-width: 407px;
    max-height: 47px;
    width: 407px;
    height: 47px;
}

.link {
    text-decoration: none;
    color: var(--linkBaseColor);
    font-weight: 700;
    font-family: Andale Mono, monospace;
    width: 100%;
    margin-left: 1.5rem;
}

.link:hover {
    color: var(--linkActiveColor);
}

.active {
    color: var(--linkActiveColor);
    border-bottom: 1px solid var(--linkActiveColor);
}

@media (max-width: 1130px) {
    .container-nav {
        flex-direction: column !important;
    }

    .container-list, .container-header-logo {
        width: 100%;
    }



    .list-links, .container-header-logo {
        justify-content: center;
        padding: 0;
    }
}

@media (max-width: 690px) {
    .list-links {
        display: none;
    }
}
body {
    margin: 0;
}
.topnav {
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

.account-tabs {
    margin: 0;
}

.content {
    background-color: #ddd;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
}