/** Media Query Sizes **/
/** Do not use var for media queries **/
/** 1130px **/
/** 690px **/

:root {
    /** Colors **/
    --linkBaseColor: #707070;
    --linkActiveColor: #345d9b;
}

header {
    margin: 0 auto;
    padding: 0;
    background: #f8f8f8;
    font-size: 2rem;
}

.list-links {
    list-style: none;
    display: flex;
    justify-content: right;
}

.container {
    width: 90%;
    max-width: 2500px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-list {
    width: 60%;
}

.container-header-logo {
    display: flex;
    width: 40%;
}

.header-logo {
    
    width: 407px;
    height: 47px;
}

.link {
    text-decoration: none;
    color: var(--linkBaseColor);
    font-weight: 700;
    font-family: Andale Mono, monospace;
    width: 100%;
    margin-left: 1.5rem;
}

.link:hover {
    color: var(--linkActiveColor);
}

.active {
    color: var(--linkActiveColor);
    border-bottom: 1px solid var(--linkActiveColor);
}

@media (max-width: 1130px) {
    .container-list, .container-header-logo {
        width: 100%;
    }



    .list-links, .container-header-logo {
        justify-content: center;
        padding: 0;
    }
}

.input-toggle {
    display: none;
}

@media (max-width: 690px) {
    .header-logo {
        width: 300px;
        height: 30px;
    }
    
    .list-links {
        display: none;
    }

    .dropdown-toggle {
        width: 50%;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: right;
        
        z-index: 1;
        
        -webkit-user-select: none;
        user-select: none;
    }

    .input-toggle
    {
        display: block;
        width: 40px;
        height: 32px;
        top: -7px;
        left: -5px;
        
        cursor: pointer;
        
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        
        -webkit-touch-callout: none;
    }

    span
    {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        
        background: #cdcdcd;
        border-radius: 3px;
        
        transform-origin: 4px 0px;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    span:first-child
    {
        transform-origin: 0% 0%;
    }

    span:nth-last-child(2)
    {
        transform-origin: 0% 100%;
    }

    input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    input:checked ~ span:nth-last-child(2)
    {
        transform: rotate(-45deg) translate(0, -1px);
    }

    .dropdown
    {
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    li
    {
        padding: 10px 0;
        font-size: 22px;
    }

    input:checked ~ ul
    {
        transform: none;
    }
}